p{
    font-size:30px; 
    text-align: center; 
    color:white;
}
h2{
    font-size:50px; 
    text-align: center; 
    color:white;
}
#about_p{
    font-size:18px; 
}
#about_h{
    font-size:55px; 
}