p{
    font-size:30px; 
    text-align: center; 
    color:white;
}
h2{
    font-size:50px; 
    text-align: center; 
    color:white;
}
#about_p{
    font-size:18px; 
}
#about_h{
    font-size:55px; 
}
#Home{
    padding:5em;
}
#border_backdrop{
    background-color: rgba(0, 0, 0, .5);
    border-radius: 3px;
    align-content: center;
    padding: 1em;
}
#about_content{
    width:85vw;
    height:85vh; 
    background-image: url("/images/Chalkboard.png");
    background-size: 85vw 85vh;
    padding:5em;
}
#about_images{
    align-content: center;
    padding: auto;
}